{% extends "base.html" %}
{% block title %} Afficher AUTEURS {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <h1> Table auteur </h1>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_auteur }}</td>
                    <td>{{ row.Nom }}</td>
                    <td> <a href="{{ url_for('auteurs_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('auteurs_edit', id_auteur_edit_html=row.id_auteur) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('auteurs_select_delete', id_auteur_delete_html=row.id_auteur) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

