{% extends "base.html" %}
{% block title %}Edit AUTEUR{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('auteurs_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_auteur_edit_html" value="{{ row.id_auteur }}"></td>
                            <td>{{ row.id_auteur }}</td>
                            <td><input type = "text" name = "name_edit_intitule_auteur_html" value="{{ row.Nom }}"/></td>
                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}