{% extends "base.html" %}
{% block title %} Afficher etudiants ! {% endblock %}
{% block body %}
        <br>
    <h1> Table étudiant </h1>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_etudiant }}</td>
                    <td>{{ row.Nom }}</td>
                    <td> <a href="{{ url_for('etudiants_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('etudiants_edit', id_etudiant_edit_html=row.id_etudiant) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('etudiants_select_delete', id_etudiant_delete_html=row.id_etudiant) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

