{% extends "base.html" %}
{% block title %} Ajouter un étudiant !{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Insérer un nouvel étudiant !</H1> <br>
                Nom de l'étudiant <input type = "text" name= "name_etudiant_html" />
                <input type = "submit">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}