<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Erreur</title>
		<meta charset="UTF-8">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='css/Erreur.css') }}">
	</head>

	<body>
		<div id="content">
			<h1>404</h1>			
			<p id="un"> THE PAGE </p>
			<p id="deux">WAS NOT FOUND</p> 
			<a href="http://127.0.0.1:1234/" target="_blank" title="Est-ce que monsieur le vogon aime bien ses étudiants ?"> <p id="trois"> BACK TO VENUS </p> </a>
		</div>
		
		<div id="footer">
			<div id="mes_photos" title="Le vogon dans tous ses états !">               

	               <a href="../static/css/Images/Maccaud1.jpg" target="_blank"> <img src="../static/css/Images/Maccaud1.jpg"/> </a>
	               <a href="../static/css/Images/Maccaud2.jpg" target="_blank"> <img id="bug" src="../static/css/Images/Maccaud2.jpg"/> </a>
	               <a href="../static/css/Images/Maccaud3.jpg" target="_blank"> <img src="../static/css/Images/Maccaud3.jpg"/> </a>
            </div>
		</div>
	</body>

</html>