<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon beau projet{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>


{% block header %} {% endblock %}

{% include 'flash_messages.html' %}
<br>
<a href="{{ url_for('home_dans_routes_pour_exemple_hommage_m_el_vyn_mal_herbe') }}">Home</a>

<a href="{{ url_for('auteurs_afficher') }}">Auteurs</a>

<a href="{{ url_for('livres_afficher') }}">Livres</a>

<a href="{{ url_for('etudiants_afficher') }}">Étudiants</a>



<a href="{{ url_for('personnes_taille_dict') }}">Démo pour les ERREURS</a>

<br>
{% block body %}{% endblock %}


{% block javascript %}{% endblock %}
</body>
</html>