@font-face {
    font-family: 'Police';
    src: url('Polices/Allura-Regular.otf') format('truetype')
}

@font-face {
    font-family: 'Police1';
    src: url('Polices/KaushanScript-Regular.otf') format('truetype')
}



body{
	background-image: url("Images/Sakura.jpg");
	width: 540px;
	margin: auto;
	color: white;

}

h1{
	letter-spacing: 0px;
	font-weight: bold;
	height: 245px;
	font-family: 'Police';
	font-size: 260px;
	margin-bottom: 0px;
	text-align: center;
	text-shadow: 3px 0 0 #FD6C9E, -3px 0 0 #FD6C9E, 0 2px 0 #FD6C9E, 0 -2px 0 #FD6C9E, 1px 1px #FD6C9E, -1px -1px 0 #FD6C9E, 1px -1px 0 #FD6C9E, -1px 1px 0 #FD6C9E;
}

#un{
	font-family: 'police1';
	font-weight: bold;
	text-align: center;
	border-top: 3px solid white;
	letter-spacing: 4px;
	font-size: 42px;
	margin-top: 0px;
	width: 380px;
	margin: auto;
	text-shadow: 1px 0 0 #FD6C9E, -1px 0 0 #FD6C9E, 0 1px 0 #FD6C9E, 0 -1px 0 #FD6C9E, 1px 1px #FD6C9E, -1px -1px 0 #FD6C9E, 1px -1px 0 #FD6C9E, -1px 1px 0 #FD6C9E;

}
       
#deux{
	font-family: 'police1';
	font-weight: bold;
	
	font-size: 20px;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 30px;
	text-shadow: 1px 0 0 #FD6C9E, -1px 0 0 #FD6C9E, 0 1px 0 #FD6C9E, 0 -1px 0 #FD6C9E, 1px 1px #FD6C9E, -1px -1px 0 #FD6C9E, 1px -1px 0 #FD6C9E, -1px 1px 0 #FD6C9E;
	
}



#trois{
	font-family: 'police1';
	font-weight: bold;
	color: #C4698F;
	text-align: center;
	font-size: 23px;
	background-color: white;
	padding-top: 3px;
	width: 350px;
	height: 34px;
	margin: auto;
	border: solid 3px #C4698F;
}

a{
	text-decoration: none;
}

#trois:hover{
	border: 3px solid #FEBFD2;
	color: #FEBFD2;
}

#mes_photos img{
	border: white solid 5px;
	width: 100px;
 	height: 100px;
 	margin-left: 2px;
}

#mes_photos img:hover{
	border: #C4698F solid 5px;	
}

#mes_photos{
	width: 345px;
	margin: auto;
}


#footer{
	position: absolute;
    bottom: 30px;
    width: 540px;
}

#bug{
	transform: rotate(90deg);
}

