{% extends "base.html" %}
{% block title %}DELETE LIVRE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('livres_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Titre</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_livre_delete_html" value="{{ row.id_livre }}"></td>
                            <td>{{ row.id_livre }}</td>
                            <td>{{ row.Titre }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}