{% extends "base.html" %}
{% block title %} Ajouter un livre !{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Insérer un nouveau livre !</H1> <br>
                Titre du livre <input type = "text" name= "name_livre_html" />
                <input type = "submit">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}