{% extends "base.html" %}
{% block title %}Edit livre{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('livres_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Titre du livre</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_livre_edit_html" value="{{ row.id_livre }}"></td>
                            <td>{{ row.id_livre }}</td>
                            <td><input type = "text" name = "name_edit_intitule_livre_html" value="{{ row.Titre }}"/></td>
                            <td><button class="btn btn-warning" type="submit">UPDATE</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}