{% extends "base.html" %}
{% block title %}UPDATE LIVRE{% endblock %}
{% block content %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('livres_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Cat</th>
                            <th>Sub Category</th>
                            <th>Sous catégorie</th>
                            <th>VALIDER</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="idSCat" value="{{ row.id_livre }}"></td>
                            <td><input type = "text" name = "name_edit_intitule_livre_html" value="{{ row.intitule_livre }}"/></td>
                            <td><button class="btn btn-warning" type="submit">UPDATE</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}