{% extends "base.html" %}
{% block title %} Afficher livres ! {% endblock %}
{% block body %}
        <br>
    <h1> Table livre </h1>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_livre }}</td>
                    <td>{{ row.Titre }}</td>
                    <td> <a href="{{ url_for('livres_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('livres_edit', id_livre_edit_html=row.id_livre) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('livres_select_delete', id_livre_delete_html=row.id_livre) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

